<div th:replace="~{main-template :: layout ( ~{:: #content})}">
	<div id="content">
				<!--book-->
				<div class="card mb-2">
					<div class="card-header">
						<h2>Book Info</h2>
					</div>
						<div class="card-body">
								<div class="row my-3">
									<div class="col-md-2">
										<span>Title</span> 
									</div>
									<div class="col-md-10">
										<span th:text="${book.title}"></span>
									</div>
									
								</div>
								
								<div class="row my-3">
									<div class="col-md-2">
										<span>Total of pages</span>
									</div>
									
									<div class="col-md-10">
										<span th:text="${book.totalPages}"></span>
									</div>									
								</div>
								
								
								<div class="row my-3">
									<div class="col-md-2">
										<span>Description</span>
									</div>
									
									<div class="col-md-10">
										<span th:text="${book.description}"></span>
									</div>											
								</div>
						</div>
						<div class="card-footer">
							<a th:href="@{/book}" class="btn btn-info">Back</a>
						</div>
				</div>
		</div>
</div>